{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  href={% static 'css/wine-detail.css' %}
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/wine-cooler.png' %}" 
      alt="wine-cooler.png"
      class="img-container"
    >
  </div>
  <div class="cat-details">
    <h1>{{ wine.name }}</h1>
    <h2>{{ wine.taste }}</h2>
    <h2>{{ wine.year }}</h2>
    <div class="cat-actions">
      <a href="{% url 'wines_update' wine.id %}" class="btn warn">Edit</a>
      <a href="{% url 'wines_delete' wine.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}