{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  href={% static 'css/wine-index.css' %}
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Wine List</h1>
  <img src="{% static 'images/wine.png' %}" alt="wine.png" />
  <img src="{% static 'images/red-wine.png' %}" alt="red-wine.png" />
  <img src="{% static 'images/glass-and-bottle-of-wine.png' %}" alt="glass-and-bottle-of-wine.png" />
  <img src="{% static 'images/date.png' %}" alt="date.png" />
</section>

<section class="card-container">
  {% for wine in wines %}
    <div class="card">
      <a href="{% url 'wines_detail' wine.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/wine-glass.png' %}" 
            alt="wine-glass.png"
            class="img-container"
          >
        </div>
        <h2 class="card-title">{{ wine.name }}</h2>
        <p>{{ wine.taste }}</p>
        <p>{{ wine.year }}</p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}